@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Ubuntu:wght@300&display=swap');

body {
    background-color: #ADD8E6;
    font-family: 'Ubuntu', sans-serif;
}

/* class selector */
.agenda {
    background-color:hsl(205, 64%, 41%);
}

/* id selector */
#navlinks {
    background-image: url(icons8-fire-96.png);
}

/* unviversal selector */
* {
    text-decoration-color:silver;
    
}

/* element selector*/
h3 {
    color: goldenrod;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

/*attribute selector */
[title~=main] {
    font-family: 'Pacifico', cursive;
}

/*descendent combinator*/
section p {
    margin-top: 10mm;
    margin-bottom: 25px;
    margin-left: 1in; 
    margin-right: 25px;
}

/* child combinator  + absolute unit lengths + relative */
div > p {
    margin: 25mm 1in 75px 1ex;
}

/*general sibling combinator*/
h3 ~ li {
    margin:auto;
}

/*adjacent sibling combinator */
img + p {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 200px;
}

/*selector list */
.miscellaneous-comment, .miscellaneous-complaint{
    padding-top: 20px 30px 20px 200px;
    background-color: red;
}

/* border + relative  units*/
#stonks {
    border-style:dashed;
    border-color: green;
    border-width: 0.5em;
    border-radius: 10rem;
}

video {
    border-style:double;
    border-color: hotpink;
    margin-left: 700px;
}


/* combining two selectors element.class + display*/
ul.navbar {
    background-color: royalblue;
    display: inline;
}

/* display: inline-block + position */
.agenda-list {
    display: inline-block;
    position: relative; 
}

/* sizing + position */
#diagram {
    height: 300px;
    width: 500px;
    max-width: 700px;
    min-width: 400px;

    position: static;
}

/* psuedo class selector, makes the quick navigation links become gold after hovering */
a:hover {
    background-color: gold;
}

/*pseudo-class ACTIVE makes the link green when you click on it.*/
a:active {
    background-color: green;
}

/*media query responsiveness + when y ou make the width smaller than 500px it makes the background turn rosy*/
@media only screen and (max-width: 500px) {
    body {
        background-color: rosybrown;
    }
}

/*flexbox: makes the radio buttons "apple" and "android" lay themsleves out  */
#radio {
    display: flex;
}

/* flexbox property */
#hobbies {
    flex-wrap: wrap-reverse;
}

/*flexbox property */
#pics {
    flex-shrink: inherit;
}

/* grid */
fieldset {
    display: grid;
}