@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Ubuntu:wght@300&display=swap');

body {
    background-color: #ADD8E6;
    font-family: 'Ubuntu', sans-serif;
}

/* class selector */
.agenda {
    background-color:hsl(205, 64%, 41%);
}

/* id selector */
#navlinks {
    background-image: url(icons8-fire-96.png);
}

/* style text */
* {
    text-decoration-color:silver;
    
}

/* element selector*/
h3 {
    color: goldenrod;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

/*attribute selector */
[title~=main] {
    font-family: 'Pacifico', cursive;
}