@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Ubuntu:wght@300&display=swap');

body {
    background-color: #ADD8E6;
    font-family: 'Ubuntu', sans-serif;
}

/* class selector */
.agenda {
    background-color:hsl(205, 64%, 41%);
}

/* id selector */
#navlinks {
    background-image: url(icons8-fire-96.png);
}

/* unviversal selector */
* {
    text-decoration-color:silver;
    
}

/* element selector*/
h3 {
    color: goldenrod;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

/*attribute selector */
[title~=main] {
    font-family: 'Pacifico', cursive;
}

/*descendent combinator*/
section p {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px; 
    margin-right: 25px;
}

/* child combinator */
div > p {
    margin: 25px 50px 75px 100px;
}

/*general sibling combinator*/
h3 ~ li {
    margin:auto;
}

/*adjacent sibling combinator */
img + p {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 200px;
}

/*selector list */
.miscellaneous-comment, .miscellaneous-complaint{
    padding-top: 20px 30px 20px 200px;
    background-color: red;
}